html {
	background-color: white;
	color: #000080;
}

address {
	text-align: center;
	font-style: normal;
	font-weight: bold;
}

#company {
	font-size: 125%;
}

#company span {
	font-size: 150%;
}

#page {
	font-size: 110%;
}

a {
	color: #800080;
}

a:visited {
	color: #ff0000;
}

ul {
	width: auto;
	margin-right: 80px;
	margin-left: 80px;
}

li {
	float: left;
	width: 50%;
}

li p {
	font-size: 75%;
}

li p a {
	font-size: 125%;
	
}

section {
	width: 100%;
	border-bottom: 1px solid black;
	clear: both;
}

#geico {
	border-top: 1px solid black;
	text-align: center;
	font-size: 75%;
}

#logo {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	margin-top: 20px;
	padding-bottom: 0;
}

#geico p {
	margin-top: 0;
	padding-top: 0;
}

footer p {
	font-size: 75%;
}

footer p span {
	font-weight: bold;
}


/*
What is important to know when linking an external file (like a stylesheet) to an HTML file?
The order in which the links appear in your HTML is the order in which thy are applied.

What tricks did you use to help you with positioning? How hard was it to get the site as you wanted it?
I leared that you can display an ul in 2 columns buy setting the lis
to float: left and width: 50%. It was pretty difficult to get my list to 
space evenly.

What CSS did you use to modify the element style (like size, color, etc.)
color for the  font-color, font-style for italics, font-weight for bold
Did you modify the HTML to include classes or ids? If so, which did you choose and why? If you didn't, how would you know which one to add to your HTML?
When you compared your site to the actual code base, which do you think had cleaner code that followed best practices and why?

*/